<!DOCTYPE html>
<html>
    <body>
        <nav>
            <ul>
                <li><%= link_to 'ツイート', "/tweet" %></li>
                <li><%= link_to 'ツイートと返信', "/tweet" %></li>
                <li><%= link_to 'メディア', "/tweet" %></li>
                <li><%= link_to 'いいね', "/tweet" %></li>
            </ul>
        </nav>
    </body>
</html>

<style>
    /*_sidebar.html.erbのcss*/
    nav{
        margin-top:80px;
    }
    
    nav ul{
        list-style-type: none;
        margin:0;
        padding:0;
    }
    
    nav li{
        display: inline;
        padding:15px;
    }
    
    nav li a{
        text-decoration: none;
        color: #808080;
    }
    
    nav li a:active{
        font-weight: bold;
        color: #000;
        text-decoration:underline 4px #00acee;
        text-underline-offset: 1em;
    }
    nav ul li:hover{
        background-color:#ccc;
    }
</style>
