<!DOCTYPE html>
<html>
    <body>
        <nav>
            <ul>
                <li><a href = "/tweet">ツイート</a></li>
                <li><a href = "">ツイートと返信</a></li>
                <li><a href = "">メディア</a></li>
                <li><a href = "">いいね</a></li>
            </ul>
        </nav>
    </body>
</html>


<style>
    nav{
        margin-top:80px;
        
    }
    
    nav ul{
        list-style-type: none;
        margin:0;
        padding:0;
    }
    
    nav li{
        display: inline;
        padding:15px;
    }
    
    nav li a{
        text-decoration: none;
        color: #808080;
    }
    
    nav li a:active{
        font-weight: bold;
        color: #000;
        text-decoration:underline 4px #00acee;
        text-underline-offset: 1em;
    }
    nav ul li:hover{
        background-color:#ccc;
    }
</style>