body {
    width:1100px;
    margin:0 auto;
}
  
#header{
    width:720px;
    float: right;
    float: top;
    border-bottom:solid 1px #ccc;
    padding-bottom:20px;
    border-right:solid 1px #ccc;
    padding-right:40px;
    border-left:solid 1px #ccc;
    padding-left:40px;
    text-align:center;
}
  
#sidebar{
    width: 220px;
    float: left;
    position: fixed;
}
  
#content{
    width: 720px;
    float: right;
    float: bottom;
    border-right:solid 1px #ccc;
    padding-right:40px;
    border-left:solid 1px #ccc;
    padding-left:40px;
}


/*_content(index).html.erbのcss*/
#show_top{
    width:500px;
    float:left;
}
#myicon {
    border-radius: 50%;
    width:  40px;
    height: 40px;
    vertical-align:middle;
    border: 1px solid #ccc;
}
    
    
    
/*_sidebar.html.erbのcss*/
#bird_icon{
    padding-left: 20px;
}
#sidebar_list{
    display:block;
    background:#ffffff;
    color:#000000;
    border-radius:50px;
    font-size:13pt;
    list-style: none;
}
#sidebar_list:hover{
    background:#dcdcdc;
}


#sidebar_linkTo:link{
    text-decoration: none;
    color:#000000;
}
#sidebar_linkTo:visited{
    text-decoration: none;
    color:#000000;
}
#sidebar_img{
    vertical-align:middle;
}


#new_button{
    display:block;
    line-height:40px;
    background:#00acee;
    color:white;
    border-radius:50px;
    text-align:center;
    text-decoration: none;
    font-size:10pt;
    padding:10px 0px;
    font-weight: bold;
    margin-top:10px;
    
}
.new_linkTo:link{
    text-decoration: none;
    color:white;
}
.new_linkTo:visited{
    text-decoration: none;
    color:white;
}

/* 点滅 */
.blinking{
	-webkit-animation:blink 1.5s ease-in-out infinite alternate;
    -moz-animation:blink 1.5s ease-in-out infinite alternate;
    animation:blink 1.5s ease-in-out infinite alternate;
    text-align:center;
    padding-left:50px;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}    